---
import { Briefcase } from '@lucide/astro';
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

// Importando os componentes convertidos
import GitHubAvatar from "../components/virtualCard/GitHubAvatar.astro";
import ContactInfo from "../components/virtualCard/ContactInfo.astro";
import SocialLinks from "../components/virtualCard/SocialLinks.astro";
import QRCodeSection from "../components/virtualCard/QRCodeSection.astro";
import oldPc from "../assets/oldPc.png";
---

<Layout >
    <main class="min-h-screen flex items-center justify-center p-4 md:p-8 bg-bg-500">
        <div class="w-full max-w-md">
            <div class="rounded-2xl border border-bg-100 bg-bg-250 shadow-sm overflow-hidden">
                
                <div class="relative h-40">
                    <Image
                        src={oldPc}
                        alt="Fundo de PC Antigo"
                        class="w-full h-full object-cover"
                    />
                    <div class="absolute inset-0 bg-gradient-to-t from-black/20 to-transparent"></div>
                </div>

                <div class="px-6 pb-6 -mt-12 relative">
                    <GitHubAvatar />

                    <div class="mt-4">
                        <h1 class="text-2xl font-bold text-text text-balance">Allan Gama Maciente</h1>
                        <p class="text-indigo-500 font-medium text-sm mt-0.5">Estudante de Programação</p>
                        <!-- <div class="flex items-center gap-1.5 mt-1 text-slate-500">
                            <Briefcase class="w-3.5 h-3.5" />
                            <span class="text-sm">PlaceHolder</span>
                        </div> -->
                    </div>

                    <p class="mt-4 text-sm leading-relaxed text-text">
                       Formado pelo programa Jovem Programador (Senac) e atualmente graduando em ADS pela Estácio. Apaixonado por transformar Problemas em linhas de código. 
                       No meu tempo livre, gosto arremessar umas cestas para descontrair, sempre acompanhado de um bom rock — minha trilha sonora indispensável para o código e para a vida."
                    </p>

                    <div class="my-6 border-t border-bg-100"></div>

                    <ContactInfo />

                    <div class="my-6 border-t border-bg-100"></div>

                    <SocialLinks />

                    <div class="my-6 border-t border-bg-100"></div>

                    <QRCodeSection qrCodeSrc="/path-to-your-qr.png" />

                </div>
            </div>
        </div>
    </main>
</Layout>