---
interface Props {
  text?: string;
}

const {
  text = `© 2026-${new Date().getFullYear()} AllMaciente. Todos os direitos reservados.`,
} = Astro.props;
---

<footer class="w-full p-4 border-t border-bg-100 mt-auto">
  <div class="max-w-md mx-auto text-center text-sm text-text/60">
    <p>{text}</p>
  </div>
</footer>
